body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
footer { border-top: 1px solid rgba(0,0,0,.05); }
img.rounded-circle { width: 200px; height: 200px; object-fit: cover; }
.text-justify {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}